.offers-list * {
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.offer-item{
    max-width: calc(900px - 20px);
    margin: 10px auto;
    background: rgba(200, 200, 200, 0.3);
    height: 140px;
    cursor: pointer;
}
.offer-item:hover, .offer-item:focus{
  background: rgba(200, 200, 200, 0.6);
}
.offer-item > div{
    display: inline-block;
    height: 100%;
}
.offer-item .offer-item-left{
    line-height: 100%;
    width: 6.5em;
    float: left;
}
.offer-item .offer-item-right{
    width: calc(100% - 6.5em - 20px);
    float: right;
    padding-left: 20px;
}
.offer-item .offer-type{
    border-right: 2px solid #01579b;
    height: 100px;
    margin-top: 20px;
    line-height: 100px;
    text-align: center;
}
.offer-item .offer-title{
    margin-top: 20px;
}
.offer-item .offer-company{
    font-style: italic;
    color: #555;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.offer-item .offer-description{
  overflow: hidden;
  height: 3em;
  text-align: justify;
}
@media (max-width: 580px){
    .offer-item .offer-item-left{
      position: absolute;
      height: 45px;
      width: 70px;
      padding-left: 10px;
      line-height: 45px;
    }
    .offer-item .offer-type{
      height: 45px;
      line-height: 45px;
      font-size: 0.8em;
    }
    .offer-item .offer-item-right{
      float: none;
      width: calc(100% - 20px);
      padding-left: 10px;
      padding-right: 10px;
    }
    .offer-title, .offer-company{
      padding-left: 75px;
      width: calc(100% - 75px);
    }
    .offer-item .offer-description{
      overflow: hidden;
      height: 4.5em;
      font-size: 0.85em;
    }
}
