.pagination-container *{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.pagination-container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.pagination-container .pagination-item{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    padding: 5px;
    border: 1px solid lightgray;
    line-height: 1.5em;
    cursor: pointer;
}
.pagination-container .pagination-item:hover{
    background-color: #ddd;
}
.pagination-container .pagination-item.active{
    background: #01579b;
    color: white;
}
.pagination-container .pagination-item:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.pagination-container .pagination-item:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
