.search-bar *, .search-bar ::before, .search-bar ::after{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  line-height: 1em !important;
}

.search-bar{
    margin-top: 25px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    color: #01579b;
}
.search-bar-title{
    text-align: center;
    color: #01579b;
}
.search-bar-item{
    width: calc(50% - 20px);
    margin: 10px;
    display: inline-block;
}
.search-bar-item-long{
    width: calc(100% - 20px);
}
.search-bar-item > label, .search-bar-item > input{
    display: block;
    width: calc(100% - 14px);
    color: #01579b;
}
.search-bar-item > label{
 margin-bottom: 16px;
}
.search-bar-item > input {
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid #eee;
    font-family: inherit;
    -webkit-appearance: none;
    padding: 5px;
    cursor: text;
}
.search-bar-item > input:focus {
    outline: 0;
}
.checkbox-group{
    border: 2px solid #eee;
    display: inline-block;
    height: calc(2em - 4px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: calc(100% - 4px);
    color: #01579b;
}
.checkbox{
    width: calc(100% / 3);
    display: inline-block;
    height: 100%;
}
.checkbox-group .checkbox:first-child,
.checkbox-group .checkbox:first-child label,
.checkbox-group .checkbox:first-child label:before{
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.checkbox-group .checkbox:last-child,
.checkbox-group .checkbox:last-child label,
.checkbox-group .checkbox:last-child label:before{
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display: inline-block;
    position: absolute;
    width: calc(100% / 3);
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    display: inline-block;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0; top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 1.25em;
    background: #fff;
}

[type="checkbox"]:checked + label:before {
    opacity: 1;
    background-color: #01579b;
    transform: scale(1);
}
[type="checkbox"]:checked + label {
    color: white !important;
}
.search-bar-submit{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50%;
}
.search-bar-submit input{
    background-color: #01579b;
    color: white;
    width: 100%;
}
#cities-suggest{
    z-index: 1;
    width: calc(100% - 8px);
    padding-left: 2 px;
    float: left;
    position: relative;
    background: white;
}
#cities-suggest span{
    background-color: white;
    z-index: 1;
    position: absolute;
    padding: 5px;
    display: block;
    height: 1.2em;
    border: 1px solid lightgray;
    width: calc(100% - 10px);
}
.search-bar-submit input{
    border: none;
    cursor: pointer;
}
#cities-suggest span:hover{
    background-color: #eee;
    cursor: pointer;
}
#cities-suggest span:nth-child(2){
    margin-top: calc(1 * (1.2em + 11px));
}
#cities-suggest span:nth-child(3){
    margin-top: calc(2 * (1.2em + 11px));
}
#cities-suggest span:nth-child(4){
    margin-top: calc(3 * (1.2em + 11px));
}
#cities-suggest span:nth-child(5){
    margin-top: calc(4 * (1.2em + 11px));
}
#cities-suggest span:nth-child(6){
    margin-top: calc(5 * (1.2em + 11px));
}


@media (max-width: 520px){
  .search-bar-item:not(.search-bar-submit){
    display: block;
    width: calc(100% - 20px);
  }
}
