

.login-container-page *, .login-container-page ::before, .login-container-page ::after,
.login-container-page *, .login-container-page ::before, .login-container-page ::after,
.login-container-page-logged *, .login-container-page-logged ::before, .login-container-page-logged ::after{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.login-container-page{
  background-color: white;
  display: block;
  z-index: 1;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 20px;
  -webkit-transition: left 0.5s ease-in;
  -moz-transition: left 0.5s ease-in;
  -ms-transition: left 0.5s ease-in;
  -o-transition: left 0.5s ease-in;
  transition: left 0.5s ease-in;
}
.login-container-page.active{
  left: 0;
}
.login-top{
  cursor: pointer;
  text-align: center;
  background-color: #eee;
  color: #01579b;
  height: 50px;
  margin: 0px;
  font-size: 1.7em;
  line-height: 50px;
}
.login-title-big{
  margin-top: 1.5em;
  font-size: 1.4em;
  text-align: center;
}
.login-title{
  margin-top: 1em;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.2em;
  color: rgb(28, 81, 104);
}
.login-container-page .login-inner{
  display: block;
  position: static;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(-0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.login-container-page input{
  background-color: transparent;
  padding: 2px;
  margin-top: 15px;
  border:none;
  border-bottom: 1px solid #777;
  width: 250px;
  height: 20px;
  color: #777;
  display: block;
}
.login-container-page input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
.login-container-page input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
.login-container-page input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.login-container-page label{
  pointer-events: none !important;
  z-index: -1;
  }
.login-container-page label, .login-container-page input {
  transition: all 0.2s;
  touch-action: manipulation;
}
.login-container-page input {
  font-size: 1em;
  border: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  z-index: 1;
}
.login-container-page input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}
.login-container-page input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  -webkit-transform: translate(0, 2.125rem);
  -moz-transform: translate(0, 2.125rem);
  -ms-transform: translate(0, 2.125rem);
  -o-transform: translate(0, 2.125rem);
  transform: translate(0, 2.125rem);
}
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.login-container-page input:not(:placeholder-shown) + label,
.login-container-page input:focus + label {
  -webkit-transform:  translate(0, 0) scale(1);
  -moz-transform:  translate(0, 0) scale(1);
  -ms-transform:  translate(0, 0) scale(1);
  -o-transform:  translate(0, 0) scale(1);
  transform:  translate(0, 0) scale(1);
  cursor: pointer;
  color: rgb(28, 81, 104);
}
.login-container-page .links p{
  text-align: center;
  color: rgb(28, 81, 104);
  cursor: pointer;
}
.login-container-page input[type=submit]{
  margin-top: 50px;
  margin-bottom: 10px;
  border: none;
  background-color: #01579b;
  height: 30px;
  color: white;
  line-height: 30px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
