.login-container *, .login-container ::before, .login-container ::after,
.login-container *, .login-container ::before, .login-container ::after,
#login-container-logged *, #login-container-logged ::before, #login-container-logged ::after{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.login-container{
  background-color: white;
  position: fixed;
  left: -300px;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 240px;
  -webkit-box-shadow: 5px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 0px 12px 0px rgba(0,0,0,0.75);
  -webkit-transition: left 0.5s ease-in;
  -moz-transition: left 0.5s ease-in;
  -ms-transition: left 0.5s ease-in;
  -o-transition: left 0.5s ease-in;
  transition: left 0.5s ease-in;
}
.login-container.active{
  left: 0;
}
.login-show{
  box-sizing: content-box !important;
  z-index: 2;
  position: fixed;
  left: 0;
  top: calc(50% - 25px);
  height: 60px;
  width: 60px;
  padding: 10px;
  background-color: #01579b;
  color: white;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  -webkit-transition: left 0.5s ease-in;
  -moz-transition: left 0.5s ease-in;
  -ms-transition: left 0.5s ease-in;
  -o-transition: left 0.5s ease-in;
  transition: left 0.5s ease-in;
}
.login-show.active{
  left: -300px;
}
.login-show svg{
  font-size: 35px;
}
.login-top{
  cursor: pointer;
  text-align: center;
  background-color: #eee;
  color: #01579b;
  height: 50px;
  margin: 0px;
  font-size: 1.7em;
  line-height: 50px;
}
.login-title{
  text-align: center;
  font-size: 1.2em;
  color: rgb(28, 81, 104);
}
.login-inner{
  position: absolute;
  top: 50%;
  margin-left: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login-container input{
  background-color: transparent;
  padding: 2px;
  margin-top: 15px;
  border:none;
  border-bottom: 1px solid #777;
  width: 190px;
  height: 20px;
  color: #777;
  display: block;
}
.login-container input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
.login-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
.login-container input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
.login-container label, .login-container input {
  transition: all 0.2s;
  touch-action: manipulation;
}
.login-container input {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}
.login-container input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}
.login-container input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  -webkit-transform: translate(0, 2.125rem);
  -moz-transform: translate(0, 2.125rem);
  -ms-transform: translate(0, 2.125rem);
  -o-transform: translate(0, 2.125rem);
  transform: translate(0, 2.125rem);
}
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.login-container input:not(:placeholder-shown) + label,
.login-container input:focus + label {
  -webkit-transform:  translate(0, 0) scale(1);
  -moz-transform:  translate(0, 0) scale(1);
  -ms-transform:  translate(0, 0) scale(1);
  -o-transform:  translate(0, 0) scale(1);
  transform:  translate(0, 0) scale(1);
  cursor: pointer;
  color: rgb(28, 81, 104);
}
.login-container .links p{
  text-align: center;
  color: rgb(28, 81, 104);
  cursor: pointer;
}
.login-container input[type=submit]{
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  background-color: #01579b;
  height: 30px;
  color: white;
  line-height: 30px;
}


#login-container-logged{
  z-index: 1;
  position: absolute;
  left: 0;
  top: 100px;
  height: 50px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
#login-container-logged .login-inner-logged{
  width: auto;
  max-width: 900px;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  height: 50px;
}
#login-container-logged .login-inner-logged div{
  display: inline-block;
  text-align: right;
  height: 50px;
}
#login-container-logged .names p{
  color: rgb(28, 81, 104);
  height: 50px;
  line-height: 50px;
  font-size: &empx;
  margin: 0;
  margin-right: 20px;
}
#login-container-logged .actions{
  color: rgb(28, 81, 104);
  font-size: 35px;
  margin-top: -15px;
}
#login-container-logged .actions svg{
  margin-right: 10px;
  padding: 3px;
  border: 2px solid #01579b;
  border-radius: 3px;
  cursor: pointer;

}
@media (max-width: 610px){
  #login-container-logged{
    z-index: 200;
    position: fixed;
    bottom: 60px;
    right: -190px;
    left: auto;
    top: auto;
    width: 190px;
    -webkit-transition: right 0.5s ease-in;
    -moz-transition: right 0.5s ease-in;
    -ms-transition: right 0.5s ease-in;
    -o-transition: right 0.5s ease-in;
    transition: right 0.5s ease-in;
  }
  #login-container-logged.active{
    right: 0;
  }
  #login-container-logged p{
    color: white !important;
    padding-left: 5px;
  }
  #login-container-logged .actions svg{
    color: white;
    margin-top: 5px;
    border-color: white;
  }
  #login-container-logged .login-inner-logged{
    text-align: center;
  }
  #login-container-logged .login-inner-logged > div{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}
