.editor-container{
  position: absolute;
  width: inherit;
  width: 900px;
  max-width: 100%;
  height: 340px;
  top: 295px;
  left: 50%;
  background: white;
  border: 2px solid #01579b;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.events-editor-add{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
}
.events-editor-add-block{
  width: 50%;
  display: inline-block;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.events-editor-container textarea, .event-editor-edit-form textarea{
  width: calc(100% - 25px);
  height: 218px;
  border: 1px solid lightgrey;
  box-shadow: none !important;
  resize: none;
}
.events-editor-add .button,
.events-editor-edit .button,
.offers-editor-container .button{
  display: inline-block;
  width: calc(50% - 17px) !important;
}
.button.margin{
  margin-right: 10px;
}
.events-editor-add .button:not(.margin){
  background-color: lightgrey;
  color: #01579b;
}
.events-editor-add select{
  width: 100%;
}
.events-editor-add-block:nth-child(2){
  padding-top: 8px;
}
.events-editor-add-block:nth-child(2) label{
  padding-bottom: 15px;
}
.admin-row .field {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;

  flex-flow: column-reverse;
  margin-left: 25px;
  margin-right: 0;
  margin-bottom: 0.2em;
}
.admin-row .field.field-half {
  width: calc(50% - 55px);
  margin-left: 25px;
  display: inline-flex;
}
.field.readOnly, .field.readOnly input{
  font-style: italic;
  color: grey;
}

.admin-row label, .admin-row input {
  transition: all 0.2s;
  touch-action: manipulation;
  width: 100%;
}
.admin-row input {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}
.admin-row input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}
.admin-row input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  -webkit-transform: translate(0, 2.125rem);
  -moz-transform: translate(0, 2.125rem);
  -ms-transform: translate(0, 2.125rem);
  -o-transform: translate(0, 2.125rem);
  transform: translate(0, 2.125rem);
}
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.admin-row input:not(:placeholder-shown) + label,
.admin-row input:focus + label {
  -webkit-transform:  translate(0, 0.5rem) scale(1);
  -moz-transform:  translate(0, 0.5rem) scale(1);
  -ms-transform:  translate(0, 0.5rem) scale(1);
  -o-transform:  translate(0, 0.5rem) scale(1);
  transform:  translate(0, 0.5rem) scale(1);
  cursor: pointer;
  color: rgb(28, 81, 104);
}
.admin-row .links p{
  text-align: center;
  color: rgb(28, 81, 104);
  cursor: pointer;
}
.admin-row input[type=submit]{
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  background-color: #01579b;
  height: 30px;
  color: white;
  line-height: 30px;
}
.admin-row .button{
    width: 100%;
    max-width: 220px;
    vertical-align: top;
    cursor: pointer;
    background-color: #01579b;
    border: none;
    display: inline-block;
    color: white;
    text-align: center;
}
.event-star{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  margin-top: 20px;
  padding: 15px;
}
.events-editor-star-title{
  margin: 15px;
}
.event-star-remove{
  position: relative;
  float: right;
  top: -15px;
  right: -10px;
  color: darkred;
  cursor: pointer;
}
.events-editor-edit,.events-editor-add, .events-editor-remove{
  height: 100%;
}
.events-editor-edit .events-editor-star-title,
.events-editor-remove .events-editor-star-title{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  text-align: center;
}
.events-editor-star{
  height: 100%;
  text-align: center;
}
.events-editor-star .button{
  margin-top: 20px;
  width: calc(50% - 50px);
}
.button.grey{
  background: lightgrey;
  color: #01579b;
}
.events-list{
  padding-top: 15px !important;
  vertical-align: top;
  text-align: center;
  overflow-y: scroll;
}
.events-list-edit{
    width: 100%;
}
.events-list > div {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  margin-top: 20px;
  padding: 15px;
  cursor: pointer;
}
.events-list-edit > div {
  width: 40%;
}
.users-editor-container .field{
  width: calc(100% - 85px);
  max-width: none;
}
.users-editor-container .button.margin{
  margin-right: 60px;
  margin-left: 10px;
}
.users-editor-edit-title{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.users-editor-container .field.search{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.users-editor-container .button{
    margin-top: 20px;
    width: calc(50% / 2 - 33px);
    float: right;
    display: inline-block;
}
.event-editor-add{
  height:  100%;
}
.editor-container .event-editor-edit-form{
  height: 100%;
}
.offers-editor-container .checkbox-group{
  height: 2.5em;
  max-width: 350px;
  margin-left: 25px;
  margin-top: 20px;
}
.offers-editor-container .checkbox-group .checkbox,
.offers-editor-container .checkbox-group .checkbox label{
  vertical-align: top;
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
}
.offers-editor-container label{
  max-width: 100% !important;
}
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  height: 100%;
  margin-top: -7px;
}
