.popup-notification{
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 5em;
  border-radius: 5px;
  width: 20em;
  display: block;
  padding: 5px 20px;
  -webkit-transition:visibility 0.15s, opacity 0.15s linear;
  -moz-transition:visibility 0.15s, opacity 0.15s linear;
  -ms-transition:visibility 0.15s, opacity 0.15s linear;
  -o-transition:visibility 0.15s, opacity 0.15s linear;
  visibility: visible;
  opacity: 1;
}
.popup-notification.hidden{
  visibility: hidden;
  opacity: 0;
}
.popup-notification.red{
  color: white;
  background-color: rgba(181, 0, 0, 0.8);
}
.popup-notification.green{
  color: white;
  background-color: rgba(0, 181, 0, 0.8);
}
.close-notification{
  position: absolute;
  right: 10px;
}
.notification-title{
  width: 100%;
  display: block;
}
