.popup *{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.popup{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition:visibility 0.15s, opacity 0.15s linear;
    -moz-transition:visibility 0.15s, opacity 0.15s linear;
    -ms-transition:visibility 0.15s, opacity 0.15s linear;
    -o-transition:visibility 0.15s, opacity 0.15s linear;
    visibility: visible;
    opacity: 1;
}
.popup.hidden{
    visibility: hidden;
    opacity: 0;
}
.popup-overlay{
    background-color: rgba(0,0,0,0.1);
    height: 100%;
    width: 100%;
}
.popup-container{
    width: 600px;
    height: 600px;
    z-index: 2;
    position: fixed;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.popup-header{
    width: calc(100% - 20px);
    height: 1.5em;
    padding: 10px;
    color:white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #01579b;
    border-bottom: 1px solid #dddddd;
}
.popup-header-title{
    display: inline-block;
    width: calc(100% - 30px);
}
.popup-cross{
    display: inline-block;
    width: 30px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    text-align: right;
}
.popup-body{
    width: calc(100% - 30px);
    display: block;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(500px - 30px);
}
.popup-body-company, .popup-body-city{
    display: inline-block;
}
.popup-body-title{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.popup-body-type{
    margin-top: 10px;
    margin-bottom: 10px;
}
.popup-body-description{
    margin-top: 30px;
    line-height: 1.5em;
    text-align: justify;
}
.popup-footer {
    text-align: right;
    padding: 15px 15px 20px;
}
.popup-form .popup-footer-button:first-child{
  background-color: lightgrey;
  color: #01579b;
}
.popup-footer-button{
    background-color: #01579b;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 2px 15px !important;
    min-width: 25%;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.popup-form .popup-body div, .popup-form textarea{
  text-align: center;
  display: block;
  padding: 0 10px;
  border: none;
  color: #333;
  width: 100%;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  pointer-events: none;
}
.popup-form textarea{
  pointer-events: all;
  width: calc(100% - 20px);
  height: 70%;
  border: 2px solid #01579b;
  border-radius: 5px;
  box-shadow: none !important;
  text-align: left;
  margin-top: 10px;
  }
.popup-form input:first-child, .popup-form input:nth-child(3), .popup-form input:nth-child(4){
  margin-bottom: 10px;
}
.popup-form input:nth-child(2){
  margin-bottom: -7px;
}
@media (max-width: 599px) {
    .popup-container{
      width: 100%;
      height: 100%;
    }
    .popup-body{
      padding: 7px;
      width: calc(100% - 14px);
      height: calc(100% - 107px);
    }
    .popup-footer{
      padding: 7px;
      padding-bottom: 14px;
    }
    .popup-details, .popup-form{
      height: 100%;
    }
    .popup-details .popup-footer-button{
      padding: 2px 10px;
      margin-right: 0px;
    }
    .popup-form .popup-footer-button{
      margin-left: 7px;
    }
    .popup-form textarea{
        width: calc(100% - 23px);
    }
}
