.RowNews-container *, .RowNews-container ::after, .RowNews-container ::before  {
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  line-height: 1em;
}
.RowNews-container{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: table;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
  height: 340px;
}
.RowNews-title{
  display: block;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid rgba(1,87,155, 0.8);
  color:  #01579b;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  padding: 0;
}
.RowNews-item{
  display: table-cell;
  vertical-align: top;
  margin-top: 10px;
}
.RowNews-button{
  vertical-align: top;
  cursor: pointer;
  width: 100%;
  height: 90px;
  background-color: #01579b;
  border: none;
  display: inline-block;
  color: white;
}
.RowNews-button-icon{
  float: left;
  font-size: 30px;
  margin-right: 10px;
  width: 90px;
  height: 70px;
}
.RowNews-button-icon img{
  width: 90px;
  height: 70px;
}
.RowNews-button-title,
.RowNews-button-subtitle{
  padding-right: 20px;
  text-align: right;
  height: 45px;
}
.RowNews-button-title{
  line-height: 70px ;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.RowNews-button-subtitle{
  line-height: 20px;
}
.RowNews-item-big{
  background-color: none;
  width: calc(100% / 3 * 2 - 20px);
  float: left;
}
.RowNews-item-small{
  float: right;
  height: 310px;
  width: calc(100% / 3 - 20px);
  margin-top: -200px;
  top: 0;
}
.RowNews-item-small img{
  height: 310px;
  width: 100%;
}
.RowNews-item-big .RowNews-button{
  background-color: white !important;
  color: #01579b;
  text-align: left !important;
}
.RowNews-item-big .RowNews-button-title,
.RowNews-item-big .RowNews-button-subtitle{
  text-align: left;
  overflow: hidden;
  height: calc(50% - 10px);
  line-height: 18px;
}
@media (min-width: 620px) and (max-width: 692px){
  .RowNews-button-title{
    font-size: 0.65em;
    line-height: 25px;
    height: 35px;
  }
  .RowNews-button-subtitle{
    font-size: 0.55em;
    line-height: 25px;
  }
}
@media (max-width: 619px) {
  .RowNews-container{
    width: 100%;
  }
  .RowNews-item{
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
  .RowNews-button-title{
    font-size: 0.9em;
  }
  .RowNews-button-title,
  .RowNews-button-subtitle{
    margin-right: 10px;
  }
  .RowNews-button-icon{
    margin-left: 10px;
  }
  .RowNews-item-small{
    margin-top: 0px;
    text-align: center;
  }
  .RowNews-item-small img{
  width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
