.RowStats-container *, .RowStats-container ::after,.RowStats-container ::before {
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  line-height: 1em;
}
.RowStats-container{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  padding-top: 20px;
  height: 120px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.RowStats-item{
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  height: 100px;
  cursor: pointer;
  display: inline-block;
  width: calc(25% - 15px);
  background-size: cover;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
}
.RowStats-item:last-child{
  margin-right: 0px;
}
.RowStats-item:hover, .RowStats-item:focus{
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
}
.RowStats-banner{
  margin-top: 20px;
  width: auto;
  float: right;
  width: 9.5em;
  height: 60px;
  background-color: rgba(1,87,155,0.8);
  border: none;
  color: white;
}
.RowStats-banner-icon{
  float: left;
  font-size: 30px;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.RowStats-banner-number,
.RowStats-banner-label{
  padding-right: 20px;
  text-align: right;
  height: 30px;
}
.RowStats-banner-number{
  line-height: 45px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.RowStats-banner-label{
  line-height: 20px;
  font-size: 0.60em;
  text-transform: uppercase;
}

@media (min-width: 620px) and (max-width: 692px){
  .RowStats-container{
    height: auto;
  }
  .RowStats-item{
    width: calc(50% - 20px);
    margin: 10px;
    float: none !important;
  }
  .RowStats-banner{
    width: 65%;
  }
  .RowStats-banner-number{
    height: 30px;
    line-height: 40px;
    font-size: 0.95em;
  }
  .RowStats-banner-label{
    font-size: 0.75em;
  }
}
@media (max-width: 619px) {
  .RowStats-container{
    height: auto;
  }
  .RowStats-banner{
    width: 90%;
  }
  .RowStats-item{
    width: calc(50% - 20px);
    margin: 10px;
    float: none !important;
  }
  .RowStats-banner-number{
    font-size: 0.9em;
  }
  .RowStats-banner-number,
  .RowStats-banner-label{
    margin-right: 10px;
  }
  .RowStats-banner-icon{
    margin-left: 10px;
  }
}
@media (max-width: 400px) {
  .RowStats-container{
    height: auto;
  }
  .RowStats-item{
    margin-top: 0px;
    margin-bottom: 3px;
    width: calc(100% - 20px);
  }
}
