.RowSummary-container *, .RowSummary-container ::after, .RowSummary-container ::before{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  line-height: 1em;
}
.RowSummary-container{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  max-width: 900px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.RowSummary-item{
  height: auto;
  padding-bottom: 5px;
  display: inline-block;
  width: calc(100% / 2 - 10px);
  overflow: hidden;
  border-radius: 3px;
}
.RowSummary-item:first-child{
  margin-right: 20px;
}

.RowSummary-item-title{
  display: block;
  background-color: #01579b;
  color: white;
  padding-left: 10px;
  padding-right: 20px;
  text-align: left;
  height: 30px;
  line-height: 30px;
  font-size: 1.1em;
  text-transform: uppercase;
  border-bottom: 1px solid lightgrey;
}
.RowSummary-item-offer{
  cursor: pointer;
  height: 50px;
  padding: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.RowSummary-item-offer:hover, .RowSummary-item-offer:focus{
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
}
.RowSummary-item-offer:first-child,
.RowSummary-item-offer:last-child{
  background-color: rgba(180,180,180,0.2);
}
.RowSummary-item-offer-type{
  float: left;
  height: 50px;
  line-height: 50px;
  width: 95px;
  border-right: 2px solid #4caf50;
}
.RowSummary-item-offer-title,
.RowSummary-item-offer-subtitle{
  float: right;
  width: calc(100% - 110px);
  text-align: left;
  padding-left: 5px;
  height: 25px;
}
.RowSummary-item-offer-title{
  line-height: 30px;
}
.RowSummary-item-offer-subtitle{
  line-height: 20px;
}
.RowSummary-item-img{
  width: 100%;
  height: auto;
  vertical-align: baseline;
}
.RowSummary-item-offer span{
  overflow: hidden;
}
.RowSummary-more{
  height: 35px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
.RowSummary-more-button{
    height: 35px;
    line-height: 35px;
    color: #01579b;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #01579b;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.RowSummary-more-button:hover,
.RowSummary-more-button:focus{
  background-color: #01579b;
  color: white;
}

@media (min-width: 620px) and (max-width: 692px){
  .RowSummary-item-title{
    height: 45px;
    line-height: 70px;
    font-size: 0.75em;
  }

}
@media (max-width: 619px) {
  .RowSummary-container{
    width: 100%;
  }
  .RowSummary-item{
    width: calc(100% - 20px);
  }
  .RowSummary-item-title{
    font-size: 0.9em;
  }
}
