.blogImg {
  width: 100%;
}
.remove {
  cursor: pointer;
}
.lead {
  font-size: 1rem;
}
.Actualites{
  height: calc(100% - 150px);
}
.Actualites > .container{
  max-width: 1000px;
  width: auto;
}
.Actualites .container, .Actualites .container .row{
  height: 100%;
}
.Actualites > .container > .row > div:first-child{
  overflow-y: auto;
}
.contpost{
  z-index: 0;
  overflow-y: auto;
  margin-right: -20px;
  padding-right: 30px !important;
}
.mobile-shadow-top{
  background-color: white;
  -webkit-box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.5);
}
.main-title-container{
  margin-top: 35px;
  text-align: right;
}
.main-title-container h2{
  margin-left: auto;
  background-color: #01579b;
  color: white;
  margin-right: -27px;
  padding: 5px 27px;
  width: auto;
  font-size: 1.25em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.main-title-container h3{
  margin-top: 25px;
  margin-left: auto;
  max-width: 80%;
  font-size: 1.3em;
}

@media (max-width: 775px){
  .Actualites > .container > .row > div{
    width: 100% !important;
    max-width: none !important;
    flex: 100% !important;
  }
  .Actualites > .container > .row{
    overflow-y: scroll;
  }
  .contpost {
    height: calc(100% - 160px);
  }

  .Actualites{
    height: calc(100% - 150px);
  }

}


@media (max-width: 610px){
    .contpost {
      height: calc(100% - 160px);
    }

  .Actualites{
    height: calc(100% - 100px);
  }
}
