.App-header *, .App-header ::before, .App-header ::after{
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.App {
  text-align: center;
}
.App-header a{
  text-decoration: none;
  color: rgb(28, 81, 104) !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
.App-header {
  z-index: 1;
  position: relative;
  background-color: white;
  color: white;
  height: 150px;
  text-align: right;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.5);
}
.App-header-container{
  max-width: 900px;
  height: 150px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.App-title {
  z-index: 10;
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.App-logo {
  margin-left: 15px;
  height: 150px;
  float: left;
  display: inline-block;
}
.App-logo-bis {
  height: 280px;
  margin-top: -50px;
  position: absolute;
  float: right;
  -webkit-transform: translateX(-90%);
  -moz-transform: translateX(-90%);
  -ms-transform: translateX(-90%);
  -o-transform: translateX(-90%);
  transform: translateX(-90%);
  display: inline-block;
  opacity: 0.2;
  pointer-events: none;
}

.App-title h1{
  display: none;
  margin: 0;
  font-size: 1.34em;
}
.App-title h2{
  display: none;
  margin: 0;
  font-size: 0.9em;
}
#App-logo-container{
  z-index: 10;
  float: left;
  width: 100%;
  -webkit-transition: margin-left 0.5s ease-in;
  -moz-transition: margin-left 0.5s ease-in;
  -ms-transition: margin-left 0.5s ease-in;
  -o-transition: margin-left 0.5s ease-in;
  transition: margin-left 0.5s ease-in;
}
#App-menu-container{
  display: block;
  position: relative;
  max-width: 100%;
  height: 50px;
}
#App-menu-container ul
{
  margin-top: 12px;
  margin-bottom: 12px;
  height: 25px;
  list-style: none;
  position: absolute;
  right: 20px;
  float: right;
  display: inline-block;
}
#App-menu-container ul li{
  text-transform: capitalize;
  display: inline-block;
  padding-right: 10px;
  color:rgb(28, 81, 104);
  opacity: 0.8;
}

#App-menu-container ul li:hover {
  opacity: 1;
}


#App-burger-container{
  z-index: 10;
  position: absolute;
  right: 10px;
  top: 30px;
  display: none;
  height: 30px;
  width: 30px;
  padding: 5px;
  padding-top: 9px;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: margin 0.5s ease-in;
  -moz-transition: margin 0.5s ease-in;
  -ms-transition: margin 0.5s ease-in;
  -o-transition: margin 0.5s ease-in;
  transition: margin 0.5s ease-in;
}
#App-burger-container span{
  z-index: 10;
  position: relative;
  display: block;
  border-bottom: 2px solid #01579b;
  height: 7px;
  width: 25px;
  pointer-events: none;
  -webkit-transition: transform 0.5s ease-in;
  -moz-transition: transform 0.5s ease-in;
  -ms-transition: transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
}
#App-burger-container.active{
  margin-right: 60px;
}
#App-burger-container.active span{
  border-bottom: 2px solid white;
}
#App-menu-burger-container{
  z-index: 1;
  clear: both;
  position: fixed;
  background-color: #01579b;
  right: -220px;
  top: 0px;
  bottom: 0px;
  width: 190px;
  bottom: 0px;
  -webkit-transition: right 0.5s ease-in;
  -moz-transition: right 0.5s ease-in;
  -ms-transition: right 0.5s ease-in;
  -o-transition: right 0.5s ease-in;
  transition: right 0.5s ease-in;
}
#App-menu-burger-container ul{
  border-top: 1px solid rgba(100,100,100,0.2);
  padding: 0;
  margin-top: 69px;
}
#App-menu-burger-container ul li{
  display: block;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid rgba(100,100,100,0.2);
  height: 35px;
}
#App-menu-burger-container ul li a{
  color: white !important;
}



@media (max-width: 610px) {
    .App-header, .App-header-container, #App-logo-container, #App-logo-container img:first-child{
      height: 100px;
    }
    .App-logo-bis{
      height: 210px;
    }

    #App-menu-container{
      display: none;
    }
    #App-burger-container{
      display: block;
      float: right;
    }
    #App-burger-container.active span:nth-child(2){
      display: none;
    }
    #App-burger-container.active span:nth-child(1){
      -webkit-transform:  rotate(-45deg);
      -moz-transform:  rotate(-45deg);
      -ms-transform:  rotate(-45deg);
      -o-transform:  rotate(-45deg);
      transform:  rotate(-45deg);
      transform-origin: right;
      margin-top: 0px;
      margin-left: -7px;
    }
    #App-burger-container.active span:nth-child(3){
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      transform-origin: right;
      margin-top: 9px;
      margin-left: -2px;
    }
    #App-logo-container.active{
      margin-left: calc(100% - 325px);
    }
    #App-menu-burger-container.active{
      right: 0px;
    }
}
