.history-offers{
  display: inline-block;
  width: calc(100% / 2 - 10px);
  margin-right: 10px;
  margin-top: 20px;
  border: 1px solid #01579b;
}
.history-offers-title{
  margin-bottom: 15px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  background-color: #01579b;
  color: white;
}
.history-offers .offer-item{
    max-width: calc(900px - 20px);
    margin: 10px auto;
    background: rgba(200, 200, 200, 0.3);
    height: 70px;
    cursor: pointer;
}
.history-offers .offer-item:hover, .history-offers .offer-item:focus{
  background: rgba(200, 200, 200, 0.6);
}
.history-offers .offer-item > div{
    display: inline-block;
    height: 100%;
}
.history-offers .offer-item .offer-item-left{
    line-height: 100%;
    width: 6.5em;
    float: left;
}
.history-offers .offer-item .offer-item-right{
    width: calc(100% - 6.5em);
    float: right;
    padding-left: 7px;
}
.history-offers .offer-item .offer-type{
    border-right: 2px solid #01579b;
    height: 50px;
    margin-top: 10px;
    line-height: 50px;
    text-align: center;
}
.history-offers .offer-item .offer-title{
    margin-top: 5px;
    font-size: 0.8em;
}
.history-offers .offer-item .offer-company{
    font-style: italic;
    color: #555;
    font-size: 0.8em;
    margin-bottom: 0px;
}
.history-offers .offer-item .offer-description{
  overflow: hidden;
  height: 1.3em;
  font-size: 0.8em;
  text-align: justify;
  max-width: calc(100% - 20px);
}
