.history-events{
  display: inline-block;
  width: calc(100% / 2 - 10px);
  margin-left: 10px;
  margin-top: 20px;
  border: 1px solid #01579b;
}
.history-events-title{
  margin-bottom: 15px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  background-color: #01579b;
  color: white;
}
.event-item{
    max-width: calc(900px - 20px);
    margin: 10px auto;
    background: rgba(200, 200, 200, 0.3);
    height: 140px;
    cursor: pointer;
}
.event-item:hover, .event-item:focus{
  background: rgba(200, 200, 200, 0.6);
}
.event-item > div{
    display: inline-block;
    height: 100%;
}
.event-item .event-item-left{
    line-height: 100%;
    width: 6.5em;
    float: left;
}
.event-item .event-item-right{
    width: calc(100% - 6.5em - 20px);
    float: right;
    padding-left: 20px;
}
.event-item .event-type{
    border-right: 2px solid #01579b;
    height: 100px;
    margin-top: 20px;
    line-height: 100px;
    text-align: center;
}
.event-item .event-title{
    margin-top: 20px;
}
.event-item .event-company{
    font-style: italic;
    color: #555;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.event-item .event-description{
  overflow: hidden;
  height: 3em;
  text-align: justify;
}
