.user-cv{
  width: calc(100% / 3);
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  border: 1px solid #01579b;
}
.user-cv-inner{
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 53px;
}
.user-cv-title{
  margin-bottom: 70px;
  font-size: 1.2em;
  width: 100%;
  background-color: #01579b;
  color: white;
}
.user-cv .button{
  color: #01579b;
  border: 1px solid #01579b;
  font-size: bold;
  margin-bottom: 10px;
  display: block;
  width: calc(100% - 20px);
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.cv-hidden{
    height: 0px;
    overflow: hidden;
    width: 0px;
    border: none !important;
    line-height: 0px;
    position: absolute;
    width: 0px;
    margin: 0;
}
.user-cv .button:hover{
  cursor: pointer;
  background-color: #01579b;
  color: white;
}
