.avatar_hidden{
  height: 0px;
  overflow: hidden;
  width: 0px;
  border: none !important;
  line-height: 0px;
  position: absolute;
  width: 0px;
  margin: 0;
}
.user-informations{
  max-width: calc(2 * 100% / 3 );
  display: inline-block;
}
.avatar-container{
  height: 275px;
}
.user-informations-left{
  display: inline-block;
  width: calc(2 * 100% / 3);
  height: 100%;
}
.user-informations-right{
  display: inline-block;
  vertical-align: top;
  width: calc(100% / 3);
  text-align: center;
  height: 100%;
}
.user-informations-right img{
  min-width: 90%;
  max-width: 100%;
  max-height: 243px;
  margin-top: 13px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 20px;
}
.user-informations .field {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;

  flex-flow: column-reverse;
  margin-left: 25px;
  margin-right: 0;
  margin-bottom: 0.2em;
}
.user-informations .field.field-half {
  width: calc(50% - 37px);
  margin-left: 25px;
  display: inline-flex;
}
.field.readOnly, .field.readOnly input{
  font-style: italic;
  color: grey;
}

.user-informations label, .user-informations input {
  transition: all 0.2s;
  touch-action: manipulation;
  width: 100%;
}
.user-informations input {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}
.user-informations input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}
.user-informations input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  -webkit-transform: translate(0, 2.125rem);
  -moz-transform: translate(0, 2.125rem);
  -ms-transform: translate(0, 2.125rem);
  -o-transform: translate(0, 2.125rem);
  transform: translate(0, 2.125rem);
}
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.user-informations input:not(:placeholder-shown) + label,
.user-informations input:focus + label {
  -webkit-transform:  translate(0, 0.5rem) scale(1);
  -moz-transform:  translate(0, 0.5rem) scale(1);
  -ms-transform:  translate(0, 0.5rem) scale(1);
  -o-transform:  translate(0, 0.5rem) scale(1);
  transform:  translate(0, 0.5rem) scale(1);
  cursor: pointer;
  color: rgb(28, 81, 104);
}
.user-informations .links p{
  text-align: center;
  color: rgb(28, 81, 104);
  cursor: pointer;
}
.user-informations input[type=submit]{
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  background-color: #01579b;
  height: 30px;
  color: white;
  line-height: 30px;
}
.user-informations .button{
    width: 100%;
    max-width: 220px;
    vertical-align: top;
    cursor: pointer;
    background-color: #01579b;
    border: none;
    display: inline-block;
    color: white;
    text-align: center;
}

.cities-suggest{
    z-index: 1;
    width: 100%;
    padding-left: 0px;
    float: left;
    top: 3.5em;
    position: relative;
    background: white;
}
.cities-suggest span{
    background-color: white;
    z-index: 1;
    position: absolute;
    padding: 5px;
    display: block;
    height: 1.95em;
    border: 1px solid lightgray;
    width: 100%;
}
.cities-suggest span:hover{
    background-color: #eee;
    cursor: pointer;
}
.cities-suggest span:nth-child(2){
    margin-top: calc(1 * (1.2em + 11px));
}
.cities-suggest span:nth-child(3){
    margin-top: calc(2 * (1.2em + 11px));
}
.cities-suggest span:nth-child(4){
    margin-top: calc(3 * (1.2em + 11px));
}
.cities-suggest span:nth-child(5){
    margin-top: calc(4 * (1.2em + 11px));
}
.cities-suggest span:nth-child(6){
    margin-top: calc(5 * (1.2em + 11px));
}
