.user-social{
  margin-top: 20px;
  border: 1px solid #01579b;
}
.hexagon {
  position: relative;
  width: 40px;
  height: 28px;
  margin: 10px 0;
}
.user-social-title{
  margin-bottom: 15px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  background-color: #01579b;
  color: white;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.user-social-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.user-social-ul li{
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
}
.user-social-ul li p{
  margin-bottom: 0px;
  color: #01579b;
}
.user-social-edit, .user-social-trash{
  font-size: 1.8em;
  cursor: pointer;
  color: #01579b;
}
.user-social-edit svg{
  margin-top: 5px;
}
 .user-social-trash{
   margin-left: 10px;
   color: darkred;
 }
.user-social-ul li a{
  width: 40px;
  height: 28px;
  margin: 10px;
  line-height: 28px;
  font-size: 25px;
  display: inline-block;
  color: white !important;
}
ul.user-social-ul  li:nth-child(1) .hexagon {
  background-color: #3b5998;
}
ul.user-social-ul  li:nth-child(1) .hexagon:after {
  border-top: 10px solid #3b5998;
}
ul.user-social-ul li:nth-child(1) .hexagon:before {
  border-bottom: 10px solid #3b5998;
}

ul.user-social-ul  li:nth-child(2) .hexagon {
  background-color:#00aced;
}
ul.user-social-ul  li:nth-child(2) .hexagon:after {
  border-top: 10px solid #00aced;
}
ul.user-social-ul li:nth-child(2) .hexagon:before {
  border-bottom: 10px solid #00aced;
}

ul.user-social-ul  li:nth-child(3) .hexagon {
  background-color:#4875B4;
}
ul.user-social-ul  li:nth-child(3) .hexagon:after {
  border-top: 10px solid #4875B4;
}
ul.user-social-ul li:nth-child(3) .hexagon:before {
  border-bottom: 10px solid #4875B4;
}

.user-social .field {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;

  flex-flow: column-reverse;
  margin-right: 0;
  margin-bottom: 0.8em;
}
.user-social label, .user-social input {
  transition: all 0.2s;
  touch-action: manipulation;
  width: 100%;
}
.user-social .button{
  width: 100%;
  vertical-align: top;
  cursor: pointer;
  background-color: #01579b;
  border: none;
  float: right;
  text-align: center;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 0;
  display: inline-block;
  color: white;
}
.user-social input {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}
.user-social input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}
.user-social input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  -webkit-transform: translate(0, 2.125rem);
  -moz-transform: translate(0, 2.125rem);
  -ms-transform: translate(0, 2.125rem);
  -o-transform: translate(0, 2.125rem);
  transform: translate(0, 2.125rem);
}
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.user-social input:not(:placeholder-shown) + label,
.user-social input:focus + label {
  -webkit-transform:  translate(0, 0.5rem) scale(1);
  -moz-transform:  translate(0, 0.5rem) scale(1);
  -ms-transform:  translate(0, 0.5rem) scale(1);
  -o-transform:  translate(0, 0.5rem) scale(1);
  transform:  translate(0, 0.5rem) scale(1);
  cursor: pointer;
  color: rgb(28, 81, 104);
}
.user-social .popup .popup-container{
  height: 190px;
  width: 350px;
}
.user-social .popup .popup-body{
  height: calc(220px - 90px);
  padding-top: 0px;
  overflow: hidden;
}
