.App-footer{
  margin-top: 20px;
  display: block;
  background-color: #01579b;
  width: 100%;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.75);
}

.App-footer-container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100% - 75px);
}
.App-footer-container-bottom{
  margin-top: 15px;
  color: white;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
}
.App-footer-bottom-left{
  line-height: 75px;
  height: 75px;
  width: calc(66% - 25px);
  float: right;
  text-align: right;
  padding-right: 5px;
}
.App-footer-bottom-right{
  height: 75px;
  line-height: 75px;
  width: calc(33%);
  float: left;
  padding-left: 5px;
  text-align: center;
}
.App-footer-item{
  float: left;
  display: inline-block;
  width: 33%;
  height: 100%;
}

 ul.App-footer-menu,
 ul.App-footer-social{
  padding: 0;
  text-align: center;
}
ul.App-footer-menu a{
  text-decoration: none;
  color: white !important;
}
 ul.App-footer-menu li, ul.App-footer-social li {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  line-height: 30px;
}
ul.App-footer-social a,
ul.App-footer-social li{
   width: 40px;
   height: 28px;
   margin: 10px;
   line-height: 28px;
   font-size: 25px;
   display: inline-block;
  color: white !important;
 }

  .hexagon {
  position: relative;
  width: 40px;
  height: 28px;
  margin: 10px 0;
}

ul.App-footer-social  li:nth-child(1) .hexagon {
  background-color: #3b5998;
}
ul.App-footer-social  li:nth-child(1) .hexagon:after {
  border-top: 10px solid #3b5998;
}
ul.App-footer-social li:nth-child(1) .hexagon:before {
  border-bottom: 10px solid #3b5998;
}

ul.App-footer-social  li:nth-child(2) .hexagon {
  background-color:#00aced;
}
ul.App-footer-social  li:nth-child(2) .hexagon:after {
  border-top: 10px solid #00aced;
}
ul.App-footer-social li:nth-child(2) .hexagon:before {
  border-bottom: 10px solid #00aced;
}

ul.App-footer-social  li:nth-child(3) .hexagon {
  background-color:#4875B4;
}
ul.App-footer-social  li:nth-child(3) .hexagon:after {
  border-top: 10px solid #4875B4;
}
ul.App-footer-social li:nth-child(3) .hexagon:before {
  border-bottom: 10px solid #4875B4;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.App-footer-register *{
  color: white;
  text-align: center;
}
.App-footer-register{
  text-align: center;
}
.hexagon:before {
  bottom: 100%;
}

.hexagon:after {
  top: 100%;
  width: 0;
}
.App-footer-register-title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  font-weight: bold;
}
.App-footer-register-subtitle{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 350px;
  margin-bottom: 0px;
  height: 50px;
  line-height: 25px;
  font-size: 14px;
}
.App-footer-register-input{
  width: calc(100% - 60px);
  border: none;
  height: 30px;
  color: white;
  margin-top: 10px;
  padding: 0;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.App-footer-register-submit{
  width: 30px;
  border: none;
  height: 30px;
  margin-top: 10px;
  padding: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.App-footer-register-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
.App-footer-register-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
.App-footer-register-input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
.App-footer-sponsors-title{
  text-align: center;
  height: 30px;
  text-transform: uppercase;
  color: white;
  font-size: 1em;
}
ul.App-footer-sponsors{
  padding: 0;
  text-align: center;
  height: calc(100% - 50px);
}
ul.App-footer-sponsors li img{
  color: white;
  height: 100%;
  text-decoration: none;
}
ul.App-footer-sponsors li{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  display: inline-block;
  padding: 10px;
  width: calc(50% - 50px);
  height: calc( 100% / 3 - 50px / 3 - 20px);
  font-size: 1.2em;
  margin: 5px;
}

@media (max-width: 692px){
  .App-footer{
    height: 340px;
  }
  .App-footer-container{
    height: 225px;
  }

  .App-footer-sponsors-title{
    margin-top: 20px;
  }
  ul.App-footer-sponsors{
    margin-top: 0;
  }
  ul.App-footer-sponsors li img{
    color: white;
    height: 50px;
    width: calc(50% - 50px);
    text-decoration: none;
  }
  ul.App-footer-sponsors li{
    width: calc(40% - 50px) !important;
  }

   ul.App-footer-menu,
   .App-footer-sponsors-title, .App-footer-sponsors  {
    display: none;
  }
  .App-footer-register-input{
      min-height: calc(100% - 20px);
      width: 170px !important;
      margin-bottom: 20px;
  }
  .App-footer-item{
    width: 100%;
    height: auto;
  }

  .App-footer-container-bottom{
    height: 80px;
    background-color: #01579b;
  }
}
@media (max-width: 580px){
  .App-footer-container-bottom > div{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}
