.users-admin{
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.Admin-inner{
  width: 100%;
}
.Admin-inner .admin-row:nth-child(1),
.Admin-inner .admin-row:nth-child(3){
  margin-right: 20px;
}

.admin-row{
  height: 100px;
  display: inline-block;
  width: calc(100% / 2 - 10px);
  color: #01579b;
  border: 2px solid #01579b;
  margin-bottom: 20px;
}
.admin-row > div{
  display: inline-block;
  vertical-align: middle;
}
.admin-row .title-icon{
  width: calc(100% / 5);
  font-size: 4rem;
  line-height: 5.5rem;
  text-align: center;
}
.admin-row .title{
  width: calc(2 * 100% / 5);
  margin-top: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.admin-row .actions{
  width: calc(2 * 100% / 5);
  margin-top: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.admin-row-large{
  width: 100%;
}
.admin-row .actions .action-item{
  display: inline-block;
  width: calc(100% / 3);
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.admin-row-large .actions .action-item{
  width: calc(100% / 4) !important;
}
.admin-row-large .actions{
  width: calc(4 * 100% / 10) !important;
}
.admin-row-large .title{
  width: calc(5 * 100% / 10) !important;
}
.admin-row-large .title-icon{
  width: calc(100% / 10) !important;
}
.admin-row .actions .action-item:hover{
  transform: scale(1.1);
}
.action-item.remove{
  color: darkred;
}
.action-item.edit{
  color: #01579b;
}
.action-item.star{
  color: #F9A602;
}
.action-item.add{
  color: darkgreen;
}
.button.grey.search{
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  margin-top: 75px;
}
